.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/dictionaries
/.codeclimate.yml
/.gitattributes
/.travis.yml
/gradle.properties
/gradlew
/gradlew.bat
/WeiXinHongBao.iml
/.idea
/app/*.iml
/.gradle
